{% extends 'vehicle/adminbase.html' %}
{% block content %}
{% load static %}


<div class="row">
	<div class="col-12 col-m-12 col-sm-12">

		<div class="card-header">
			<h3 style="font-size: 28px; text-align:center">
				Найм сотрудников
			</h3>

		</div>
		<div class="card-content">
			<table>
				<thead>
					<tr>
						<th>Имя</th>
						<th>Номер телефона</th>
						<th>Адрес</th>
						<th>Навыки</th>
						<th>Нанять</th>
						<th>Отклонить</th>
					</tr>
				</thead>
				<tbody>
					{% for m in mechanics %}
					<tr>
						<td> {{m.get_name}}</td>
						<td>{{m.mobile}}</td>
						<td>{{m.address}}</td>
						<td>{{m.skill}}</td>
						<td><a style="text-decoration:none;font-size:25px;"
								href="{% url 'approve-mechanic' m.id  %}">&#10004;</a></td>
						<td><a style="text-decoration:none;font-size:25px;"
								href="{% url 'delete-mechanic' m.id  %}">&#10008;</a></td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>

	</div>
</div>

{% endblock content %}