<!DOCTYPE html>
{% load static %}

<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
  </style>
</head>

<body>
  <section class="profile-cards">
    <article class="card card--1">

      <div class="card__img"></div>
      <a href="/customerclick" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <h3 class="card__title">Для клиентов</h3>
        <span class="card__by">Качественный, быстрый сервис за разумные деньги - это наш главный приоритет </span>
      </div>
    </article>


    <article class="card card--2">

      <div class="card__img"></div>
      <a href="/mechanicsclick" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">

        <h3 class="card__title">Для работников</h3>
        <span class="card__by">Достойные рабочие условия и оплата труда, хороший коллектив и справедливое начальство</span>
      </div>
    </article>
  </section>
</body>

</html>