{% extends 'vehicle/customerbase.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
</head>

<body>



  <div class="form-page">
    <form class="form" method="post">
      <h1>Подача заявки</h1>
      {% csrf_token %}

      <label for="vehicle_name">Ваш Автомобиль</label>
      {% render_field enquiry.vehicle_name class="form-input" placeholder="ВАЗ-2106" %}

      <label for="vehicle_no">Номер</label>
      {% render_field enquiry.vehicle_no class="form-input" placeholder="АА001А" %}

      <label for="problem_description">Описание проблемы</label>
      {% render_field enquiry.problem_description class="big-form-input" placeholder="Поломка ходовой части или др." %}

      <input class="submit-button" type="submit" value="Подать заявку">
    </form>
  </div>




  {% endblock content %}
</body>