{% extends "vehicle/base.html" %}

<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    {% block content %}
    <div class="form-page">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Устройтесь к нам</h1>
            <p class="text-muted"> Введите необходимые данные, чтобы подать заявку на трудоустройство
            </p>
            {% render_field userForm.first_name class="form-input" placeholder="Имя" %}
            {% render_field userForm.last_name class="form-input" placeholder="Фамилия" %}
            {% render_field mechanicForm.address class="form-input" placeholder="Адрес" %}
            {% render_field mechanicForm.mobile class="form-input" placeholder="Номер телефона" %}
            {% render_field mechanicForm.skill class="form-input" placeholder="Ваши навыки" %}
            {% render_field userForm.username class="form-input" placeholder="Имя пользователя" %}
            {% render_field userForm.password class="form-input" placeholder="Пароль" %}

            <input class="submit-button" type="submit" name="" value="Подать заявку">

        </form>
    </div>

    {% endblock content %}
</body>

</html>