<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <style type="text/css">
    
  </style>
  <title>Автосервис Ромарк</title>
</head>

<body>
  <div class="root-navbar">
    <nav class="navbar">
      <a class="navbar-logo" href="/">
        <img class="navbar-logoImage"
          src="https://cdn.discordapp.com/attachments/763388866254077962/1049362366619471912/icons8--50.png"> </img>
        <div class="navbar-logoName" style="color:white;">Автосервис</div>
      </a>


      <div class="navbar-menu">
        <a href="/customerclick" class="nav-item nav-link">Клиентам</a>
        <a href="/mechanicsclick" class="nav-item nav-link">Работникам</a>
        <a href="/adminclick" class="nav-item nav-link">Администраторам</a>
      </div>
    </nav>
  </div>
</body>

</html>